.container {
    margin: 0 auto;
    max-width: 680px;
}

.intro {
    margin-top: 100px;
}

.headshot {
    padding-top: 300px;
    background-color: rgba(38, 38, 38, .2);
    background-image: url("assets/headshot-removebg-preview.png");
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 var(--shadow);
}

.testimonial {
    margin-top: 20px;
}

.testimonial:last-child {
    margin-top: 40px;
}

blockquote {
    margin-left: 0;
    padding-left: 1em;
    border-left: 0.2em solid;
    font-size: 1.17em;
}

blockquote::before,
blockquote::after {
    content: '"';
    font-weight: 700;
}

.person strong {
    margin-right: 4px;
}

.person {
    padding-left: 1.2em;
}

.person h2 {
    margin-bottom: 0;
}

.person h3 {
    margin-top: 10px;
}

.intro h2,
.person h2,
.person h3,
.testimonials h2 {
    font-weight: 400;
}

.bio {
    margin-bottom: 40px;
}

.bio p {
    font-size: 1.5em;
}